<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="light" routerLink="/products">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>+ New Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
  <input type="file" (change)="selectFile($event)">
  <br>
  <input type="text" [(ngModel)]="productName">
  <br>
  <input type="text" [(ngModel)]="productCost">
  <br>
  <input type="text" [(ngModel)]="productDescription">
  <br>
  <ion-button fill="solid" (click)="upload()">Upload Product</ion-button>
</ion-content>
